/*
 * 基本框架
 */

body {
    padding-top: 50px;
    background-image: url("../image/background.png");
}


.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * 导航栏
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * 主体
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * 表单
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
.table-responsive{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
th,td{
    text-align: center;
}