/* 整体框架 */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("../image/background.png");
}
.container{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
/* 居中 */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* 页眉 */
.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* 页脚 */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* 自适应 */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

/* 歌曲框 */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}
/* 歌词框 */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* 自适应 */
@media screen and (min-width: 768px) {
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    .header {
        margin-bottom: 30px;
    }
    .jumbotron {
        border-bottom: 0;
    }
}