<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
    <welcome-file-list>
        <welcome-file>Cover.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description></description>
        <display-name>ManageModifyMusicServlet</display-name>
        <servlet-name>ManageModifyMusicServlet</servlet-name>
        <servlet-class>Servlet.ManageModifyMusicServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageModifyMusicServlet</servlet-name>
        <url-pattern>/ManageModifyMusicServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ManageDeleteUserServlet</display-name>
        <servlet-name>ManageDeleteUserServlet</servlet-name>
        <servlet-class>Servlet.ManageDeleteUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageDeleteUserServlet</servlet-name>
        <url-pattern>/ManageDeleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ManageUploadMusicServlet</display-name>
        <servlet-name>ManageUploadMusicServlet</servlet-name>
        <servlet-class>Servlet.ManageUploadMusicServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageUploadMusicServlet</servlet-name>
        <url-pattern>/ManageUploadMusicServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ManageDeleteMusicServlet</display-name>
        <servlet-name>ManageDeleteMusicServlet</servlet-name>
        <servlet-class>Servlet.ManageDeleteMusicServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageDeleteMusicServlet</servlet-name>
        <url-pattern>/ManageDeleteMusicServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>RegisterServlet</display-name>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>AddUserServlet</display-name>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>Servlet.ManageAddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ManageModifyUserServlet</display-name>
        <servlet-name>ManageModifyUserServlet</servlet-name>
        <servlet-class>Servlet.ManageModifyUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageModifyUserServlet</servlet-name>
        <url-pattern>/ManageModifyUserServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <description></description>
        <display-name>PersonalDeleteSelfServlet</display-name>
        <servlet-name>PersonalDeleteSelfServlet</servlet-name>
        <servlet-class>Servlet.PersonalDeleteSelfServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonalDeleteSelfServlet</servlet-name>
        <url-pattern>/PersonalDeleteSelfServlet</url-pattern>
    </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>PersonalModifySelfServlet</display-name>
    <servlet-name>PersonalModifySelfServlet</servlet-name>
    <servlet-class>Servlet.PersonalModifySelfServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>PersonalModifySelfServlet</servlet-name>
        <url-pattern>/PersonalModifySelfServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>PersonalDeleteMyMusicServlet</display-name>
        <servlet-name>PersonalDeleteMyMusicServlet</servlet-name>
        <servlet-class>Servlet.PersonalDeleteMyMusicServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonalDeleteMyMusicServlet</servlet-name>
        <url-pattern>/PersonalDeleteMyMusicServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>UpdateMusicLevelServlet</display-name>
        <servlet-name>UpdateMusicLevelServlet</servlet-name>
        <servlet-class>Servlet.UpdateMusicLevelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateMusicLevelServlet</servlet-name>
        <url-pattern>/UpdateMusicLevelServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>PersonalUploadMusicServlet</display-name>
        <servlet-name>PersonalUploadMusicServlet</servlet-name>
        <servlet-class>Servlet.PersonalUploadMusicServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonalUploadMusicServlet</servlet-name>
        <url-pattern>/PersonalUploadMusicServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>AddMyMusicServlet</display-name>
        <servlet-name>AddMyMusicServlet</servlet-name>
        <servlet-class>Servlet.AddMyMusicServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMyMusicServlet</servlet-name>
        <url-pattern>/AddMyMusicServlet</url-pattern>
    </servlet-mapping>
</web-app>